.navbar {
    background-color: #2d2d2d;
}

article {
    margin-top: 10px;
}
section {
    margin: 20px;
    padding: 10px;
    border-bottom: 1px solid black;
}

.imagens {
    height: 350px;
    max-width: 85vw;
}

.obras {
    margin: 0 auto;
    max-width: 85vw;
}

.texto-obras {
    margin: 0 auto;
    text-align: center;
}

.texto-obras {
    width: 860px;
    max-width: 85vw;
}

.imagens-obras {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 85vw;
}

img {
    margin-inline: 10px;
}

figcaption {
    font-size: 18px;
    text-align: center;
    margin: 0;
}